<!-- appointments/templates/appointments/base.html -->

<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>{% block title %}My Appointment System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <header>
        <h1>Appointment Booking System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'doctor_list' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li> <!-- Ensure this matches -->
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Appointment Booking System</p>
    </footer>
</body>

</html>